# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# VS Code
.vscode/
*.code-workspace

# Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
*.swp
*.swo

# Windows
Thumbs.db
Desktop.ini